                                /* Assalamualikum Dear Teacher's and Developer's,
                    The Monitor on which this assignmentis done consists of 1920 pixels wide  */
/* google fonts start */
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-style: normal;
  background-color: #f5f5f5; 
  
  /* If you add backgroung-color in Universel selector then, it do't work properly.*/
}
/* google fonts end */

* {
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
}

        /* Header Part Start */

/* Navigation part Style start */
.navigation {
    /* background-color: #ffffff; */
    display: flex;
    margin: 24px 160px;
    width: 1600px;
    justify-content: space-between;
}
.navigation .titel {
    font-size: 32px;
    padding: 6px;
    font-weight: 700;
}
.navigation ul li button {
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    /* width: 116px;
    height: 52px; */
    /* border: transparent; */
    border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.navigation ul li {
    list-style: none;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;

}
/* Navigation part Style end */

        /* Hero section start */
#hero {
    width: 1400px;
    height: 560px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    /* display: flex; */
    padding: 80px 100px;
    margin: 0 auto;
    /* justify-content: space-around; */
}
#hero .hero-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero .hero-contant {
    width: 622px;
    height: 246px;
}
#hero .sub-titel {
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
#hero .titel {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
/* height: 201px; */
}
#hero .btn {
padding: 17px 34px 17px 34px;
 margin-top: 24px;
border-radius: 8px;
background: rgb(0, 106, 80);
cursor: pointer;
}
#hero .btn a {
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
}
#hero .hero-image {
    width: 474px;
    height: 400px;
    margin-left: 60px;
    /* margin-right: 200px; */
}
#hero .hero-image img {
    width: 100%;
}
        /* Hero section End */

        /* Header Part End */

        /* Main part Start */

        /* The Piller of BD Start */
#pillars {
    width: 1600px;
    margin: 0 auto;
}        
#pillars .Pillars-card{
width: 302px;
height: 244px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 24px; 
}
#pillars .pillar-text {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin: 80px 0px 32px 0px;
}
#pillars .image {
margin-bottom: 24px;
}
#pillars .inovation {
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
#pillars .dolor {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.card-flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 50px;
    /* padding: 0 auto; */
}
        /* The Piller of BD End */
    /* Vision Part Start */

#vision {
    width: 1600px;
    margin: 0 auto;
}    
#vision .vision-contenar {
width: 100%;
align-items: start;
margin-top: 152px;
margin-bottom: 20px;
}
.vision-titel {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
#vision .vision-descript {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
    /* Vision Part End */

    /* Vision Card Part Start */
#vision .card-1,.card-2,.card-3 {
    width: 490px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
}
#vision .card-1 {
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
#vision .card-2 {
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
#vision .card-3 {
    box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}

#vision .vision-sub-titel {
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
}

#vision .vision-content {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
}
/* experiment only start */
/* #vision .vision-btn,.card-1 .vision-btn,.card-2 .vision-btn,.card-3 {
border-radius: 8px;
padding: 11px 20px 11px 20px;
border: none;
margin-top: 24px;
cursor: pointer;
} */
/* experiment only end */
        /* When you have a Problem, you have not just a problem. you have always ALLAH ..Tell allah.Because allah only can solve your all problem's */
#vision .vision-btn {
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    }

#vision .card-1 .vision-btn {
background: rgb(84, 144, 245);
}
#vision .card-2 .vision-btn {
background: rgb(9, 161, 92);
}
#vision .card-3 .vision-btn {
background: rgb(255, 194, 57);
}

#vision .vision-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
#vision .vision-card {
    display: flex;
    justify-content: space-between;
}
    /* Vision Card Part End */
    /* Muhammad-Yunus Part Start */
#Muhammad-Yunus {
width: 1600px;
margin: 0 auto;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}
#Muhammad-Yunus .img-contaner {
    position: relative;
}
#Muhammad-Yunus .absolute {
    position: absolute;
    /* overflow: hidden; */
    
}

    /* Muhammad-Yunus Part End */
        /* Qusetion form Start */
#opinion-form {
    width: 1600px;
    margin: 0 auto;
}

#opinion-form .titel {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

#opinion-form .main-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 32px;
}

#opinion .Questions {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
#opinion .your-opinion {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.Question .Question-nav {
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214); 
display: flex;
justify-content: space-between;
padding: 24px;
}
.main-bg .nura {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 24px;
}
.main-bg .question-btn {
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px;
    margin: 24px;
}
.descript {
    display: flex;
    justify-content: space-between;
}
.descript .question-btn .agree {
text-decoration: none;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.main-bg {
    margin-bottom: 80px;
}
        /* Qusetion form End */

        /* Recent News part Start */
#news {
    width: 1600px;
    margin: 0 auto;
}
#news .resent-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
#news .resent-para {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
        /* Recent News part End */
        /* Recent News card part Start */
.news-card {
    background-color: white;
    border-radius: 24px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    height: 400px;
    padding: 48px 60px 48px 48px;
    margin-bottom: 24px;

}
.news-card .news-img {
width: 408px;
height: 306px;
order: 0;
flex-grow: 0;
margin: 48px;
border-radius: 50px;/* Why border-radius have n't work? */
}
.news-card .news-img {
    border-radius: 24px;
}
.news-card .sub-news {
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
text-align: left;
margin-top: 56px;
}
.news-card .jazeera-img {
    margin: 12px 0;
} 
.news-card .time {
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0%;
text-align: left;    
}
.news-card .perar-shesh-koi {
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;    
}
.news-contant .btn {
border-radius: 8px;
background: rgb(0, 106, 80); 
padding: 13px 26px 13px 26px;
border: none;
margin-top: 32px;   
}
.news-contant .btn .muri-kha {
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

        /* Recent News card part End */

        /* Donate Part Start */
#donate .donate-today {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
#donate .descript-container {
    width: 1400px;
    margin: 0 auto;
    
}

#donate .descript-container .descript {
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 24px;
padding: 6px;
}
#donate .taka, .taka-2 {
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 40px;
width: 300px;
text-align: center;
}
#donate .taka .amount, .amount-2 {
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
/* line-height: 48px;*/   /* I comment it. because, I don't know how it work*/
letter-spacing: 0%;
text-align: center;
}
#donate .taka-2 {
    background-color: rgb(198, 228, 214);
}
#donate .taka-container {
    width: 1600px;
    margin: 0 auto;
}
#donate .taka-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 32px;
    margin-bottom: 32px;

}
#donate .manual {
width: 1400px;
margin: 0 auto;
box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 20px 40px 20px 40px;
text-align: center;
font-size: 20px;
}
#donate .sub-manual {
    border: none;
    width: 1200px;
    text-align: center;
    padding: 20px 40px;
    font-size: 20px;
}
#donate .btn {
width: 150px;
box-sizing: border-box;
border: none;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 30px 17px 30px;

}
#donate .btn .poket-nai {
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
/* line-height: 22px; */
/* letter-spacing: 0%; */
/* text-align: left; */

}
#donate .pera-shesh {
    width: 100px;
    margin: 32px auto;
}

        /* Donate Part End */

        /* Subscribe Part Start */
.ishue {
width: 1400px;
height: 395px;
border-radius: 24px;
background: rgb(198, 228, 214);
margin: 0 auto;

}
#subscribe .titel {
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-top: 80px;
}
#subscribe .murir-bornona {
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
/* letter-spacing: 0%; */
text-align: center;
margin-top: 16px;
margin-bottom: 32px;
}
#subscribe .titel {
padding-top: 80px;
}
#subscribe .email-contaner {
/* padding: 18px 40px 18px 40px; */
display: flex;
justify-content: center;
/* justify-content: space-evenly; */

}
#subscribe .email-selector {
width: 600px;
height: 55px;
text-align: center;
font-size: 18px;
border-radius: 8px 0px 0px 8px;
}   

#subscribe .muri-anish {
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
}
#subscribe .btn {
padding: 17px 34px 17px 34px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);    
}
#subscribe .muri-nai {
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-top: 25px;
}


        /* Subscribe Part End */

        /* Main part End */

        /* Footer part Start */
#foter {
width: 1562px;
height: 160px;
background: rgb(255, 255, 255);
margin-top: 80px;
padding: 50px 160px;
}
#foter .ar-koto {
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}
#foter .khela-shesh {
    text-align: center;
    margin-top: 75px;
}
#foter .rumi {
    margin-right: 23px;
}
        /* Footer part End */